
body{
  background-color: grey;
}

.wheel img{
  width: 50%;
  max-width: 600px;
  height: auto;
  margin: 0 auto 0 auto;
  display: block;

}


.drivetrain img{
  width: 50%;
  max-width: 600px;
  height: auto;
  margin: 0 auto 0 auto;
  display: block;

}

.decoupler img{
  width: 50%;
  max-width: 600px;
  height: auto;
  margin: 0 auto 0 auto;
  display: block;

}

.bar img{
  width: 50%;
  max-width: 600px;
  height: auto;
  margin: 0 auto 0 auto;
  display: block;

}

.bike img{
    width: 70%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto 0 auto;
    display: block;
}

.bike p{
  font-size: 30pt;
  font-style: bold;
  color: maroon;

}


.treksite a{
  font-size: 15pt;
  margin: 50px;
}
